USE [db_exam]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[AdminName] [nvarchar](50) NULL,
	[MobileNumber] [nvarchar](10) NULL,
	[Status] [bit] NULL,
	[AdminLogo] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Batch]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batch](
	[BatchId] [int] IDENTITY(1,1) NOT NULL,
	[InstituteId] [int] NOT NULL,
	[BatchName] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tbl_Batch] PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[InstituteId] [int] NOT NULL,
	[ClassName] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tbl_Class] PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Education]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Education](
	[EducationId] [int] IDENTITY(1,1) NOT NULL,
	[EducationName] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tbl_Education] PRIMARY KEY CLUSTERED 
(
	[EducationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[ExamId] [int] IDENTITY(1,1) NOT NULL,
	[ExamName] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[DurationMinutes] [int] NOT NULL,
	[TotalQuestions] [int] NOT NULL,
	[Instructions] [nvarchar](max) NULL,
	[ExamType] [nvarchar](50) NULL,
	[CutOffPercentage] [decimal](5, 2) NULL,
 CONSTRAINT [PK_tbl_Exam] PRIMARY KEY CLUSTERED 
(
	[ExamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamQuestion]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamQuestion](
	[ExamId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[Marks] [decimal](5, 2) NOT NULL,
	[NegativeMarks] [decimal](5, 2) NOT NULL,
	[SortOrder] [int] NULL,
 CONSTRAINT [PK_ExamQuestion] PRIMARY KEY CLUSTERED 
(
	[ExamId] ASC,
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamResponse]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamResponse](
	[ResponseId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserExamSessionId] [bigint] NOT NULL,
	[SessionQuestionId] [bigint] NOT NULL,
	[SessionChoiceId] [bigint] NULL,
	[TimeSpent] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ResponseText] [nvarchar](max) NULL,
	[IsCorrect] [bit] NOT NULL,
 CONSTRAINT [PK_ExamResponse_responseid] PRIMARY KEY CLUSTERED 
(
	[ResponseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamResponseOrder]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamResponseOrder](
	[ResponseOrderId] [bigint] IDENTITY(1,1) NOT NULL,
	[ResponseId] [bigint] NOT NULL,
	[UserOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResponseOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamResponsePair]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamResponsePair](
	[ResponsePairId] [bigint] IDENTITY(1,1) NOT NULL,
	[ResponseId] [bigint] NOT NULL,
	[LeftText] [nvarchar](200) NOT NULL,
	[RightText] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResponsePairId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamSessionChoice]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamSessionChoice](
	[SessionChoiceId] [bigint] IDENTITY(1,1) NOT NULL,
	[SessionQuestionId] [bigint] NOT NULL,
	[ChoiceId] [int] NOT NULL,
	[ChoiceTextEnglish] [nvarchar](max) NULL,
	[ChoiceTextHindi] [nvarchar](max) NULL,
	[IsCorrect] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionChoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamSessionQuestion]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamSessionQuestion](
	[SessionQuestionId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserExamSessionId] [bigint] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[QuestionTextEnglish] [nvarchar](max) NULL,
	[QuestionTextHindi] [nvarchar](max) NULL,
	[AdditionalTextEnglish] [nvarchar](max) NULL,
	[AdditionalTextHindi] [nvarchar](max) NULL,
	[QuestionTypeId] [int] NULL,
	[Marks] [decimal](5, 2) NOT NULL,
	[NegativeMarks] [decimal](5, 2) NOT NULL,
	[SortOrder] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[IsMultiSelect] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionQuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamSessionQuestionOrder]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamSessionQuestionOrder](
	[SessionOrderId] [bigint] IDENTITY(1,1) NOT NULL,
	[SessionQuestionId] [bigint] NOT NULL,
	[ItemText] [nvarchar](200) NOT NULL,
	[CorrectOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamSessionQuestionPair]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamSessionQuestionPair](
	[SessionPairId] [bigint] IDENTITY(1,1) NOT NULL,
	[SessionQuestionId] [bigint] NOT NULL,
	[LeftText] [nvarchar](200) NOT NULL,
	[RightText] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionPairId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Institute]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Institute](
	[InstituteId] [int] IDENTITY(1,1) NOT NULL,
	[InstituteName] [nvarchar](200) NULL,
	[ShortName] [varchar](50) NULL,
	[Logo] [varchar](50) NULL,
	[Address] [varchar](500) NULL,
	[City] [varchar](50) NULL,
	[StateId] [int] NULL,
	[Pincode] [varchar](6) NULL,
	[Phone] [varchar](12) NULL,
	[Email] [nvarchar](256) NULL,
	[PrimaryContact] [varchar](10) NULL,
	[SecondaryContact] [varchar](10) NULL,
	[ActivationDate] [datetime] NULL,
	[Validity] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Institute] PRIMARY KEY CLUSTERED 
(
	[InstituteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[TopicId] [int] NOT NULL,
	[QuestionEnglish] [nvarchar](max) NULL,
	[QuestionHindi] [nvarchar](max) NULL,
	[AdditionalTextEnglish] [nvarchar](max) NULL,
	[AdditionalTextHindi] [nvarchar](max) NULL,
	[Explanation] [nvarchar](max) NULL,
	[QuestionTypeId] [int] NOT NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsMultiSelect] [bit] NOT NULL,
 CONSTRAINT [PK_ tbl_Question] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionChoice]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionChoice](
	[QuestionId] [int] NOT NULL,
	[ChoiceId] [int] IDENTITY(1,1) NOT NULL,
	[ChoiceTextEnglish] [nvarchar](max) NULL,
	[ChoiceTextHindi] [nvarchar](max) NULL,
	[IsCorrect] [bit] NULL,
 CONSTRAINT [PK_tbl_QuestionChoice] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC,
	[ChoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionOrder]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionOrder](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[ItemText] [nvarchar](200) NOT NULL,
	[CorrectOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionPair]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionPair](
	[PairId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[LeftText] [nvarchar](200) NOT NULL,
	[RightText] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PairId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionType]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionType](
	[QuestionTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[IsObjective] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [varchar](20) NULL,
 CONSTRAINT [PK_tbl_State] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[InstituteId] [int] NOT NULL,
	[StudentName] [varchar](60) NULL,
	[FatherName] [varchar](60) NULL,
	[DateOfBirth] [datetime] NULL,
	[Category] [varchar](30) NULL,
	[StateId] [int] NULL,
	[Address] [varchar](500) NULL,
	[City] [varchar](60) NULL,
	[Pincode] [varchar](6) NULL,
	[Mobile] [varchar](10) NULL,
	[SecondaryContact] [varchar](10) NULL,
	[ParentContact] [varchar](10) NULL,
	[Email] [nvarchar](256) NULL,
	[ActivationDate] [datetime] NULL,
	[Validity] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Student] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentBatch]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentBatch](
	[StudentBatchId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[BatchId] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[EnrollmentDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentBatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentClass]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentClass](
	[StudentClassId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[EnrollmentDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectId] [int] IDENTITY(1,1) NOT NULL,
	[InstituteId] [int] NOT NULL,
	[SubjectName] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tbl_Subject] PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectTopic]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectTopic](
	[TopicId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NULL,
	[TopicName] [nvarchar](80) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tbl_Subject_Topic] PRIMARY KEY CLUSTERED 
(
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserExamSession]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserExamSession](
	[UserExamSessionId] [bigint] IDENTITY(1,1) NOT NULL,
	[ExamId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[SubmitTime] [datetime] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[TotalScore] [decimal](10, 2) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Percentage] [varchar](15) NULL,
 CONSTRAINT [PK__tbl_User__EAC2E5E25D643868] PRIMARY KEY CLUSTERED 
(
	[UserExamSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK__Users__1788CC4C692FC3FB] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__Users__C9F284564209281A] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admin] ADD  CONSTRAINT [DF_Admin_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Batch] ADD  CONSTRAINT [DF_Batch_IsDeleted]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Exam] ADD  DEFAULT ((60)) FOR [DurationMinutes]
GO
ALTER TABLE [dbo].[Exam] ADD  DEFAULT ((0)) FOR [TotalQuestions]
GO
ALTER TABLE [dbo].[Exam] ADD  DEFAULT ((40.0)) FOR [CutOffPercentage]
GO
ALTER TABLE [dbo].[ExamQuestion] ADD  DEFAULT ((1.0)) FOR [Marks]
GO
ALTER TABLE [dbo].[ExamQuestion] ADD  DEFAULT ((0.0)) FOR [NegativeMarks]
GO
ALTER TABLE [dbo].[ExamResponse] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ExamResponse] ADD  DEFAULT ((0)) FOR [IsCorrect]
GO
ALTER TABLE [dbo].[ExamSessionQuestion] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ExamSessionQuestion] ADD  DEFAULT ((0)) FOR [IsMultiSelect]
GO
ALTER TABLE [dbo].[Question] ADD  DEFAULT ((0)) FOR [IsMultiSelect]
GO
ALTER TABLE [dbo].[StudentBatch] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StudentClass] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserExamSession] ADD  DEFAULT ('Started') FOR [Status]
GO
ALTER TABLE [dbo].[UserExamSession] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IsActive__17F790F9]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__CreatedDa__18EBB532]  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_Users]
GO
ALTER TABLE [dbo].[Batch]  WITH CHECK ADD  CONSTRAINT [FK_Batch_Institute] FOREIGN KEY([InstituteId])
REFERENCES [dbo].[Institute] ([InstituteId])
GO
ALTER TABLE [dbo].[Batch] CHECK CONSTRAINT [FK_Batch_Institute]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_Institute] FOREIGN KEY([InstituteId])
REFERENCES [dbo].[Institute] ([InstituteId])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_Institute]
GO
ALTER TABLE [dbo].[ExamQuestion]  WITH CHECK ADD  CONSTRAINT [FK_ExamQuestion_Exam] FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exam] ([ExamId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExamQuestion] CHECK CONSTRAINT [FK_ExamQuestion_Exam]
GO
ALTER TABLE [dbo].[ExamQuestion]  WITH CHECK ADD  CONSTRAINT [FK_ExamQuestion_Question] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Question] ([QuestionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExamQuestion] CHECK CONSTRAINT [FK_ExamQuestion_Question]
GO
ALTER TABLE [dbo].[ExamResponse]  WITH CHECK ADD  CONSTRAINT [FK_ExamResponse_ExamSessionChoice] FOREIGN KEY([SessionChoiceId])
REFERENCES [dbo].[ExamSessionChoice] ([SessionChoiceId])
GO
ALTER TABLE [dbo].[ExamResponse] CHECK CONSTRAINT [FK_ExamResponse_ExamSessionChoice]
GO
ALTER TABLE [dbo].[ExamResponse]  WITH CHECK ADD  CONSTRAINT [FK_ExamResponse_ExamSessionQuestion] FOREIGN KEY([SessionQuestionId])
REFERENCES [dbo].[ExamSessionQuestion] ([SessionQuestionId])
GO
ALTER TABLE [dbo].[ExamResponse] CHECK CONSTRAINT [FK_ExamResponse_ExamSessionQuestion]
GO
ALTER TABLE [dbo].[ExamResponse]  WITH CHECK ADD  CONSTRAINT [FK_ExamResponse_UserExamSession] FOREIGN KEY([UserExamSessionId])
REFERENCES [dbo].[UserExamSession] ([UserExamSessionId])
GO
ALTER TABLE [dbo].[ExamResponse] CHECK CONSTRAINT [FK_ExamResponse_UserExamSession]
GO
ALTER TABLE [dbo].[ExamResponseOrder]  WITH CHECK ADD FOREIGN KEY([ResponseId])
REFERENCES [dbo].[ExamResponse] ([ResponseId])
GO
ALTER TABLE [dbo].[ExamResponsePair]  WITH CHECK ADD FOREIGN KEY([ResponseId])
REFERENCES [dbo].[ExamResponse] ([ResponseId])
GO
ALTER TABLE [dbo].[ExamSessionChoice]  WITH CHECK ADD  CONSTRAINT [FK_ExamSessionChoice_ExamSessionQuestion] FOREIGN KEY([SessionQuestionId])
REFERENCES [dbo].[ExamSessionQuestion] ([SessionQuestionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExamSessionChoice] CHECK CONSTRAINT [FK_ExamSessionChoice_ExamSessionQuestion]
GO
ALTER TABLE [dbo].[ExamSessionQuestion]  WITH CHECK ADD  CONSTRAINT [FK_CExamSessionQuestionTypeId] FOREIGN KEY([QuestionTypeId])
REFERENCES [dbo].[QuestionType] ([QuestionTypeId])
GO
ALTER TABLE [dbo].[ExamSessionQuestion] CHECK CONSTRAINT [FK_CExamSessionQuestionTypeId]
GO
ALTER TABLE [dbo].[ExamSessionQuestion]  WITH CHECK ADD  CONSTRAINT [FK_ExamSessionQuestion_Question] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Question] ([QuestionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExamSessionQuestion] CHECK CONSTRAINT [FK_ExamSessionQuestion_Question]
GO
ALTER TABLE [dbo].[ExamSessionQuestion]  WITH CHECK ADD  CONSTRAINT [FK_ExamSessionQuestion_UserExamSession] FOREIGN KEY([UserExamSessionId])
REFERENCES [dbo].[UserExamSession] ([UserExamSessionId])
GO
ALTER TABLE [dbo].[ExamSessionQuestion] CHECK CONSTRAINT [FK_ExamSessionQuestion_UserExamSession]
GO
ALTER TABLE [dbo].[ExamSessionQuestionOrder]  WITH CHECK ADD FOREIGN KEY([SessionQuestionId])
REFERENCES [dbo].[ExamSessionQuestion] ([SessionQuestionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExamSessionQuestionPair]  WITH CHECK ADD FOREIGN KEY([SessionQuestionId])
REFERENCES [dbo].[ExamSessionQuestion] ([SessionQuestionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Institute]  WITH CHECK ADD  CONSTRAINT [FK_Institute_State] FOREIGN KEY([StateId])
REFERENCES [dbo].[State] ([StateId])
GO
ALTER TABLE [dbo].[Institute] CHECK CONSTRAINT [FK_Institute_State]
GO
ALTER TABLE [dbo].[Institute]  WITH CHECK ADD  CONSTRAINT [FK_Institute_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Institute] CHECK CONSTRAINT [FK_Institute_Users]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_QuestionType] FOREIGN KEY([QuestionTypeId])
REFERENCES [dbo].[QuestionType] ([QuestionTypeId])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_QuestionType]
GO
ALTER TABLE [dbo].[QuestionChoice]  WITH CHECK ADD  CONSTRAINT [FK_QuestionChoice_Question] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Question] ([QuestionId])
GO
ALTER TABLE [dbo].[QuestionChoice] CHECK CONSTRAINT [FK_QuestionChoice_Question]
GO
ALTER TABLE [dbo].[QuestionOrder]  WITH CHECK ADD FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Question] ([QuestionId])
GO
ALTER TABLE [dbo].[QuestionPair]  WITH CHECK ADD FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Question] ([QuestionId])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Institute] FOREIGN KEY([InstituteId])
REFERENCES [dbo].[Institute] ([InstituteId])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Institute]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_State] FOREIGN KEY([StateId])
REFERENCES [dbo].[State] ([StateId])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_State]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Users]
GO
ALTER TABLE [dbo].[StudentBatch]  WITH CHECK ADD  CONSTRAINT [FK_StudentBatch_Batch] FOREIGN KEY([BatchId])
REFERENCES [dbo].[Batch] ([BatchId])
GO
ALTER TABLE [dbo].[StudentBatch] CHECK CONSTRAINT [FK_StudentBatch_Batch]
GO
ALTER TABLE [dbo].[StudentBatch]  WITH CHECK ADD  CONSTRAINT [FK_StudentBatch_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[StudentBatch] CHECK CONSTRAINT [FK_StudentBatch_Student]
GO
ALTER TABLE [dbo].[StudentClass]  WITH CHECK ADD  CONSTRAINT [FK_StudentClass_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([ClassId])
GO
ALTER TABLE [dbo].[StudentClass] CHECK CONSTRAINT [FK_StudentClass_Class]
GO
ALTER TABLE [dbo].[StudentClass]  WITH CHECK ADD  CONSTRAINT [FK_StudentClass_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[StudentClass] CHECK CONSTRAINT [FK_StudentClass_Student]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Institute] FOREIGN KEY([InstituteId])
REFERENCES [dbo].[Institute] ([InstituteId])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_Institute]
GO
ALTER TABLE [dbo].[SubjectTopic]  WITH CHECK ADD  CONSTRAINT [FK_SubjectTopic_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([SubjectId])
GO
ALTER TABLE [dbo].[SubjectTopic] CHECK CONSTRAINT [FK_SubjectTopic_Subject]
GO
/****** Object:  StoredProcedure [dbo].[_sp_ActivateInstitute]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update sp_ActivateInstitute
CREATE PROC [dbo].[_sp_ActivateInstitute]
@InstituteId INT,				
@Activate bit
AS
	UPDATE Institute SET
	IsActive = @Activate	
	WHERE InstituteId = @InstituteId
GO
/****** Object:  StoredProcedure [dbo].[_sp_ActivateStudent]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update sp_ActivateStudent
CREATE PROC [dbo].[_sp_ActivateStudent]
@StudentId INT,				
@Activate bit
AS
	UPDATE Student SET
	IsActive = @Activate	
	WHERE StudentId = @StudentId
GO
/****** Object:  StoredProcedure [dbo].[_sp_ActivateSubject]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update sp_ActivateSubject
CREATE PROC [dbo].[_sp_ActivateSubject]
@SubjectId INT,				
@Activate bit
AS
	UPDATE Subject SET
	IsActive = @Activate	
	WHERE SubjectId = @SubjectId
GO
/****** Object:  StoredProcedure [dbo].[_sp_BeginExam]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[_sp_BeginExam]
    @ExamId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SessionId BIGINT;
    DECLARE @SessionQuestionId BIGINT;

    -- 1. Create a new UserExamSession
    INSERT INTO dbo.UserExamSession (ExamId, UserId, StartTime, Status, CreatedDate)
    VALUES (@ExamId, @UserId, GETDATE(), 'Started', GETDATE());

    SET @SessionId = SCOPE_IDENTITY();

    -- 2. Insert snapshot questions
    INSERT INTO dbo.ExamSessionQuestion (
        UserExamSessionId, 
        QuestionId,
        QuestionTextEnglish,
        QuestionTextHindi,
        AdditionalTextEnglish,
        AdditionalTextHindi,
        QuestionTypeId,
		IsMultiSelect,
        Marks,
        NegativeMarks,
        SortOrder,
        CreatedDate
    )
    SELECT 
        @SessionId, 
        q.QuestionId,
        q.QuestionEnglish,
        q.QuestionHindi,
        q.AdditionalTextEnglish,
        q.AdditionalTextHindi,
        q.QuestionTypeId,
		q.IsMultiSelect,
        eq.Marks,
        eq.NegativeMarks,
        eq.SortOrder,
        GETDATE()
    FROM dbo.ExamQuestion eq
    INNER JOIN dbo.Question q ON eq.QuestionId = q.QuestionId
    WHERE eq.ExamId = @ExamId;

    -- 3. Insert snapshot choices (for multiple choice questions)
    INSERT INTO dbo.ExamSessionChoice (
        SessionQuestionId,
        ChoiceId,
        ChoiceTextEnglish,
        ChoiceTextHindi,
        IsCorrect
    )
    SELECT 
        esq.SessionQuestionId,
        qc.ChoiceId,
        qc.ChoiceTextEnglish,
        qc.ChoiceTextHindi,
        qc.IsCorrect
    FROM dbo.QuestionChoice qc
    INNER JOIN dbo.ExamSessionQuestion esq ON qc.QuestionId = esq.QuestionId
    WHERE esq.UserExamSessionId = @SessionId;

    -- 4. Insert snapshot ordering items (for ordering questions)
    INSERT INTO dbo.ExamSessionQuestionOrder (
        SessionQuestionId,
        ItemText,
        CorrectOrder
    )
    SELECT 
        esq.SessionQuestionId,
        qo.ItemText,
        qo.CorrectOrder
    FROM dbo.QuestionOrder qo
    INNER JOIN dbo.ExamSessionQuestion esq ON qo.QuestionId = esq.QuestionId
    WHERE esq.UserExamSessionId = @SessionId;

    -- 5. Insert snapshot pairing items (for matching questions)
    INSERT INTO dbo.ExamSessionQuestionPair (
        SessionQuestionId,
        LeftText,
        RightText
    )
    SELECT 
        esq.SessionQuestionId,
        qp.LeftText,
        qp.RightText
    FROM dbo.QuestionPair qp
    INNER JOIN dbo.ExamSessionQuestion esq ON qp.QuestionId = esq.QuestionId
    WHERE esq.UserExamSessionId = @SessionId;

    -- Return SessionId
    SELECT @SessionId AS UserExamSessionId;
END
GO
/****** Object:  StoredProcedure [dbo].[_sp_BulkInsertExamResponses]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--GPT
CREATE  PROCEDURE [dbo].[_sp_BulkInsertExamResponses]
    @UserExamSessionId BIGINT,
    @Responses dbo.ExamResponseSubmissionList READONLY
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRAN;
    BEGIN TRY
        -------------------------------------------------------
        -- 1) Choice-based responses (MCQ / Single / TrueFalse)
        -------------------------------------------------------
		INSERT INTO dbo.ExamResponse (
            UserExamSessionId,
            SessionQuestionId,
            SessionChoiceId,
            ResponseText,
            TimeSpent,
            CreatedDate
        )
        SELECT 
            @UserExamSessionId,
            r.SessionQuestionId,
            TRY_CAST(LTRIM(RTRIM(s.item)) AS BIGINT),
            NULL,
            r.TimeSpent,
            GETDATE()
        FROM @Responses r
        INNER JOIN dbo.ExamSessionQuestion esq
            ON esq.SessionQuestionId = r.SessionQuestionId
        INNER JOIN dbo.QuestionType qt
            ON esq.QuestionTypeId = qt.QuestionTypeId
        CROSS APPLY STRING_SPLIT(r.SessionChoiceIds, ',') AS s
        WHERE r.SessionChoiceIds IS NOT NULL
          AND LTRIM(RTRIM(r.SessionChoiceIds)) <> ''
          AND qt.TypeName IN ('MCQ', 'True/False', 'Ordering');

        ------------------------------------------------------- 
        -- 2) Text-based responses (Descriptive, Coding, Ordering) 
        -------------------------------------------------------
       INSERT INTO dbo.ExamResponse (
            UserExamSessionId,
            SessionQuestionId,
            SessionChoiceId,
            ResponseText,
            TimeSpent,
            CreatedDate
        )
        SELECT
            @UserExamSessionId,
            r.SessionQuestionId,
            NULL,               -- no choice id for these types
            r.ResponseText,     -- store raw user text (JSON, CSV, plain text etc.)
            r.TimeSpent,
            GETDATE()
        FROM @Responses r
        INNER JOIN dbo.ExamSessionQuestion esq
            ON esq.SessionQuestionId = r.SessionQuestionId
        INNER JOIN dbo.QuestionType qt
            ON esq.QuestionTypeId = qt.QuestionTypeId
        WHERE qt.TypeName IN ('Descriptive', 'Coding');

                -------------------------------------------------------
        -- 3) Matching / Pairing questions (store PairedItems)
        -------------------------------------------------------
       -- Insert one parent row per Matching/Pairing question
	   DECLARE @PairingInserted TABLE (
			SessionQuestionId BIGINT,
			ResponseId BIGINT
		);

		INSERT INTO dbo.ExamResponse (
			UserExamSessionId,
			SessionQuestionId,
			SessionChoiceId,
			ResponseText,
			TimeSpent,
			CreatedDate
		)
		OUTPUT inserted.SessionQuestionId, inserted.ResponseId
		INTO @PairingInserted(SessionQuestionId, ResponseId)
		SELECT DISTINCT
			@UserExamSessionId,
			r.SessionQuestionId,
			NULL,
			NULL,
			r.TimeSpent,
			GETDATE()
		FROM @Responses r
		INNER JOIN dbo.ExamSessionQuestion esq
			ON esq.SessionQuestionId = r.SessionQuestionId
		INNER JOIN dbo.QuestionType qt
			ON esq.QuestionTypeId = qt.QuestionTypeId
		WHERE qt.TypeName IN ('Matching')
		  AND r.PairedItems IS NOT NULL
		  AND LTRIM(RTRIM(r.PairedItems)) <> '';

		-- Insert child rows (pairs)
		INSERT INTO dbo.ExamResponsePair (ResponseId, LeftText, RightText)
		SELECT
			pi.ResponseId,
			LTRIM(RTRIM(LEFT(s.Item, CHARINDEX(':', s.Item) - 1))),
			LTRIM(RTRIM(SUBSTRING(s.Item, CHARINDEX(':', s.Item) + 1, 4000)))
		FROM @Responses r
		CROSS APPLY STRING_SPLIT(r.PairedItems, '|') s
		INNER JOIN @PairingInserted pi
			ON pi.SessionQuestionId = r.SessionQuestionId
		WHERE s.Item <> ''
		  AND CHARINDEX(':', s.Item) > 0;


        -------------------------------------------------------
        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRAN;

        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
        RETURN;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[_sp_CreateUser]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[_sp_CreateUser]
    @UserName NVARCHAR(256),
    @PasswordHash NVARCHAR(255) = NULL,
    @Role NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Users (UserName, PasswordHash, Role)
    VALUES (@UserName, @PasswordHash, @Role);

    SELECT SCOPE_IDENTITY() AS UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[_sp_DeleteInstitute]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update sp_DeleteInstitute
CREATE PROC [dbo].[_sp_DeleteInstitute]
@InstituteId INT,				
@Delete bit
AS
	UPDATE Institute SET
	IsDeleted = @Delete	
	WHERE InstituteId = @InstituteId
GO
/****** Object:  StoredProcedure [dbo].[_sp_DeleteStudent]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update sp_DeleteStudent
CREATE PROC [dbo].[_sp_DeleteStudent]
@StudentId INT,				
@Delete bit
AS
	UPDATE Student SET
	IsDeleted = @Delete	
	WHERE StudentId = @StudentId
GO
/****** Object:  StoredProcedure [dbo].[_sp_DeleteSubject]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update sp_DeleteSubject
CREATE PROC [dbo].[_sp_DeleteSubject]
@SubjectId INT,				
@Delete bit
AS
	UPDATE Subject SET
	IsDeleted = @Delete	
	WHERE SubjectId = @SubjectId
GO
/****** Object:  StoredProcedure [dbo].[_sp_GetAllExams]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Fix _sp_GetAllExams - Remove non-existent columns
CREATE PROCEDURE [dbo].[_sp_GetAllExams]  
    @ExamId INT = NULL
AS  
BEGIN
    IF @ExamId IS NULL
    BEGIN
        SELECT ExamId, ExamName, Description, Image, DurationMinutes, TotalQuestions,  
               Instructions, ExamType, IsActive  
        FROM Exam  
        WHERE IsDeleted = 0  
    END
    ELSE
    BEGIN
        SELECT ExamId, ExamName, Description, Image, DurationMinutes, TotalQuestions,  
               Instructions, ExamType, IsActive  
        FROM Exam  
        WHERE ExamId = @ExamId AND IsDeleted = 0  
    END
END
GO
/****** Object:  StoredProcedure [dbo].[_sp_GetAllInstitutes]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[_sp_GetAllInstitutes]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        i.InstituteId,
        i.InstituteName,
        i.ShortName,
        i.Logo,
        i.Address,
        i.City,
        i.StateId,
        s.StateName,
        i.Pincode,
        i.Phone,
        i.Email,
        i.PrimaryContact,
        i.SecondaryContact,
        i.ActivationDate,
        i.Validity,
        i.IsActive,
        i.CreatedBy,
        i.CreatedDate,
        i.ModifiedBy,
        i.ModifiedDate,
        i.CreatedByUserId
    FROM dbo.Institute i
    LEFT JOIN dbo.State s ON i.StateId = s.StateId
    ORDER BY i.InstituteName;
END;
GO
/****** Object:  StoredProcedure [dbo].[_sp_GetAllStudents]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[_sp_GetAllStudents]
    @InstituteId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.StudentId,
        s.StudentName,
        s.FatherName,
        s.DateOfBirth,
        s.Category,
        s.StateId,
        st.StateName,
        s.Address,
        s.City,
        s.Pincode,
        s.Mobile,
        s.SecondaryContact,
        s.ParentContact,
        s.Email,
        s.ActivationDate,
        s.Validity,
        s.IsActive,
        s.UserId,
        s.InstituteId
    FROM Students s
    LEFT JOIN States st ON s.StateId = st.StateId
    WHERE s.InstituteId = @InstituteId;
END;
GO
/****** Object:  StoredProcedure [dbo].[_sp_GetExamQuestions]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Fix _sp_GetExamQuestions - Remove ExamId reference and fix joins
CREATE PROCEDURE [dbo].[_sp_GetExamQuestions]
    @ExamId INT
AS
BEGIN
    SELECT 
        q.QuestionId,
        q.TopicId,
        ISNULL(st.TopicName, 'General') as TopicName,
        ISNULL(s.SubjectName, 'General') as SubjectName,
        q.QuestionEnglish,
        q.QuestionHindi,
        qc.ChoiceId,
        qc.ChoiceTextEnglish,
        qc.ChoiceTextHindi,
        qc.IsCorrect,
        eq.Marks,
        eq.NegativeMarks,
		q.QuestionTypeId,
		q.IsMultiSelect
    FROM ExamQuestion eq
    INNER JOIN Question q ON eq.QuestionId = q.QuestionId
    LEFT JOIN SubjectTopic st ON q.TopicId = st.TopicId
    LEFT JOIN Subject s ON st.SubjectId = s.SubjectId
    INNER JOIN QuestionChoice qc ON q.QuestionId = qc.QuestionId
    WHERE  q.IsDeleted = 0
      AND eq.ExamId = @ExamId
    ORDER BY eq.SortOrder, q.QuestionId, qc.ChoiceId
END
GO
/****** Object:  StoredProcedure [dbo].[_sp_GetExamResults]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Database provides raw data and basic calculations
CREATE PROCEDURE [dbo].[_sp_GetExamResults]
    @UserExamSessionId BIgINT
AS
BEGIN
    SELECT 
        er.ResponseId,
        er.SessionQuestionId,
        er.SessionChoiceId,
        eq.Marks,
        eq.NegativeMarks,
        qc.IsCorrect,
        CASE 
            WHEN qc.IsCorrect = 1 THEN eq.Marks
            WHEN qc.IsCorrect = 0 THEN -eq.NegativeMarks
            ELSE 0 
        END AS Score
    FROM ExamResponse er
    INNER JOIN ExamSessionQuestion eq ON er.SessionQuestionId = eq.SessionQuestionId
    LEFT JOIN ExamSessionChoice qc ON er.SessionQuestionId = qc.SessionQuestionId 
	AND er.SessionChoiceId = qc.SessionChoiceId
    WHERE er.UserExamSessionId = @UserExamSessionId;
END
GO
/****** Object:  StoredProcedure [dbo].[_sp_GetExamSessionQuestions]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[_sp_GetExamSessionQuestions]  
    @UserExamSessionId BIGINT  
AS  
BEGIN  
    SET NOCOUNT ON;  

    -- Get basic question information with choices (exclude ordering & pairing)  
    SELECT   
        esq.SessionQuestionId,  
        esq.QuestionId,  
        q.TopicId,  
        ISNULL(st.TopicName, 'General') AS TopicName,  
        ISNULL(s.SubjectName, 'General') AS SubjectName,  
        esq.QuestionTextEnglish,  
        esq.QuestionTextHindi,  
        esq.AdditionalTextEnglish,  
        esq.AdditionalTextHindi,  
        esq.QuestionTypeId,
		esq.IsMultiSelect,
        qt.TypeName AS QuestionTypeName,  
        qt.IsObjective,  
        esq.Marks,  
        esq.NegativeMarks,  
        esq.SortOrder,  
        esc.SessionChoiceId,  
        esc.ChoiceId,  
        esc.ChoiceTextEnglish,  
        esc.ChoiceTextHindi,  
        esc.IsCorrect,  
        NULL AS SessionOrderId,  
        NULL AS ItemText,  
        NULL AS CorrectOrder,  
        NULL AS SessionPairId,  
        NULL AS LeftText,  
        NULL AS RightText,  
        1 AS QuestionTypeOrder  
    FROM dbo.ExamSessionQuestion esq  
    INNER JOIN dbo.Question q   
        ON esq.QuestionId = q.QuestionId  
    INNER JOIN dbo.QuestionType qt  
        ON esq.QuestionTypeId = qt.QuestionTypeId  
    LEFT JOIN dbo.SubjectTopic st   
        ON q.TopicId = st.TopicId  
    LEFT JOIN dbo.Subject s   
        ON st.SubjectId = s.SubjectId  
    LEFT JOIN dbo.ExamSessionChoice esc   
        ON esq.SessionQuestionId = esc.SessionQuestionId  
    WHERE esq.UserExamSessionId = @UserExamSessionId  
      AND qt.TypeName NOT IN ('Ordering', 'Matching')   -- exclude ordering/pairing types  

    UNION ALL  

    -- Get ordering questions  
    SELECT   
        esq.SessionQuestionId,  
        esq.QuestionId,  
        q.TopicId,  
        ISNULL(st.TopicName, 'General') AS TopicName,  
        ISNULL(s.SubjectName, 'General') AS SubjectName,  
        esq.QuestionTextEnglish,  
        esq.QuestionTextHindi,  
        esq.AdditionalTextEnglish,  
        esq.AdditionalTextHindi,  
        esq.QuestionTypeId,  
		esq.IsMultiSelect,
        qt.TypeName AS QuestionTypeName,  
        qt.IsObjective,  
        esq.Marks,  
        esq.NegativeMarks,  
        esq.SortOrder,  
        NULL AS SessionChoiceId,  
        NULL AS ChoiceId,  
        NULL AS ChoiceTextEnglish,  
        NULL AS ChoiceTextHindi,  
        NULL AS IsCorrect,  
        eso.SessionOrderId,  
        eso.ItemText,  
        eso.CorrectOrder,  
        NULL AS SessionPairId,  
        NULL AS LeftText,  
        NULL AS RightText,  
        2 AS QuestionTypeOrder  
    FROM dbo.ExamSessionQuestion esq  
    INNER JOIN dbo.Question q   
        ON esq.QuestionId = q.QuestionId  
    INNER JOIN dbo.QuestionType qt  
        ON esq.QuestionTypeId = qt.QuestionTypeId  
    LEFT JOIN dbo.SubjectTopic st   
        ON q.TopicId = st.TopicId  
    LEFT JOIN dbo.Subject s   
        ON st.SubjectId = s.SubjectId  
    INNER JOIN dbo.ExamSessionQuestionOrder eso  
        ON esq.SessionQuestionId = eso.SessionQuestionId  
    WHERE esq.UserExamSessionId = @UserExamSessionId  

    UNION ALL  

    -- Get pairing questions  
    SELECT   
        esq.SessionQuestionId,  
        esq.QuestionId,  
        q.TopicId,  
        ISNULL(st.TopicName, 'General') AS TopicName,  
        ISNULL(s.SubjectName, 'General') AS SubjectName,  
        esq.QuestionTextEnglish,  
        esq.QuestionTextHindi,  
        esq.AdditionalTextEnglish,  
        esq.AdditionalTextHindi,  
        esq.QuestionTypeId, 
		esq.IsMultiSelect,
        qt.TypeName AS QuestionTypeName,  
        qt.IsObjective,  
        esq.Marks,  
        esq.NegativeMarks,  
        esq.SortOrder,  
        NULL AS SessionChoiceId,  
        NULL AS ChoiceId,  
        NULL AS ChoiceTextEnglish,  
        NULL AS ChoiceTextHindi,  
        NULL AS IsCorrect,  
        NULL AS SessionOrderId,  
        NULL AS ItemText,  
        NULL AS CorrectOrder,  
        esp.SessionPairId,  
        esp.LeftText,  
        esp.RightText,   
        3 AS QuestionTypeOrder  
    FROM dbo.ExamSessionQuestion esq  
    INNER JOIN dbo.Question q   
        ON esq.QuestionId = q.QuestionId  
    INNER JOIN dbo.QuestionType qt  
        ON esq.QuestionTypeId = qt.QuestionTypeId  
    LEFT JOIN dbo.SubjectTopic st   
        ON q.TopicId = st.TopicId  
    LEFT JOIN dbo.Subject s   
        ON st.SubjectId = s.SubjectId  
    INNER JOIN dbo.ExamSessionQuestionPair esp  
        ON esq.SessionQuestionId = esp.SessionQuestionId  
    WHERE esq.UserExamSessionId = @UserExamSessionId  

    ORDER BY TopicName;  
END  
GO
/****** Object:  StoredProcedure [dbo].[_sp_GetInstituteById]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[_sp_GetInstituteById]
    @InstituteId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        i.InstituteId,
        i.InstituteName,
        i.ShortName,
        i.Logo,
        i.Address,
        i.City,
        i.StateId,
        s.StateName,
        i.Pincode,
        i.Phone,
        i.Email,
        i.PrimaryContact,
        i.SecondaryContact,
        i.ActivationDate,
        i.Validity,
        i.IsActive,
        i.CreatedBy,
        i.CreatedDate,
        i.ModifiedBy,
        i.ModifiedDate,
        i.CreatedByUserId
    FROM dbo.Institute i
    LEFT JOIN dbo.State s ON i.StateId = s.StateId
    WHERE i.InstituteId = @InstituteId;
END;
GO
/****** Object:  StoredProcedure [dbo].[_sp_GetStudentById]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[_sp_GetStudentById]
    @InstituteId INT,
    @StudentId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.StudentId,
        s.StudentName,
        s.FatherName,
        s.DateOfBirth,
        s.Category,
        s.StateId,
        st.StateName,
        s.Address,
        s.City,
        s.Pincode,
        s.Mobile,
        s.SecondaryContact,
        s.ParentContact,
        s.Email,
        s.ActivationDate,
        s.Validity,
        s.IsActive,
        s.UserId,
        s.InstituteId
    FROM Students s
    LEFT JOIN States st ON s.StateId = st.StateId
    WHERE s.InstituteId = @InstituteId
      AND s.StudentId = @StudentId;
END;
GO
/****** Object:  StoredProcedure [dbo].[_sp_GetUserByEmail]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[_sp_GetUserByEmail]
@Email NVARCHAR(256)
AS
	SELECT UserId, UserName, Email, PasswordHash, Role, IsActive, CreatedDate, UpdatedDate
	FROM Users
	WHERE Email = @Email AND IsActive = 1
GO
/****** Object:  StoredProcedure [dbo].[_sp_InsertExamResponse]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[_sp_InsertExamResponse]
    @UserExamSessionId BIGINT,
    @SessionQuestionId BIGINT,
    @SelectedChoiceId INT = NULL,  -- Changed from table type to INT
    @ResponseText NVARCHAR(MAX) = NULL,
    @TimeSpent INT = NULL,
    @OrderedItems dbo.IntList READONLY,  -- New table type for ordering
    @PairedItems NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ResponseId BIGINT;
    DECLARE @QuestionTypeId INT;
    DECLARE @IsSubjective BIT = 0;
    DECLARE @IsMultipleChoice BIT = 0;
    DECLARE @IsOrdering BIT = 0;

    -- Get question type
    SELECT @QuestionTypeId = QuestionTypeId
    FROM dbo.ExamSessionQuestion
    WHERE SessionQuestionId = @SessionQuestionId;

    -- Check question types
    SET @IsSubjective = CASE WHEN @QuestionTypeId = 4 THEN 1 ELSE 0 END;
    SET @IsMultipleChoice = CASE WHEN @QuestionTypeId = 1 THEN 1 ELSE 0 END;
    SET @IsOrdering = CASE WHEN @QuestionTypeId = 2 THEN 1 ELSE 0 END;

    -- Validate parameters
    IF @IsMultipleChoice = 1 AND @SelectedChoiceId IS NULL
    BEGIN
        RAISERROR('Multiple choice questions require a selected choice ID.', 16, 1);
        RETURN;
    END

    IF @IsOrdering = 1 AND NOT EXISTS (SELECT 1 FROM @OrderedItems)
    BEGIN
        RAISERROR('Ordering questions require ordered items.', 16, 1);
        RETURN;
    END

    IF @IsSubjective = 1 AND (@ResponseText IS NULL OR LTRIM(RTRIM(@ResponseText)) = '')
    BEGIN
        RAISERROR('Subjective questions require response text.', 16, 1);
        RETURN;
    END

    -- Insert main response
    INSERT INTO dbo.ExamResponse (
        UserExamSessionId,
        SessionQuestionId,
        SessionChoiceId,
        ResponseText,
        TimeSpent,
        CreatedDate
    )
    VALUES (
        @UserExamSessionId,
        @SessionQuestionId,
        CASE WHEN @IsMultipleChoice = 1 THEN @SelectedChoiceId ELSE NULL END,
        @ResponseText,
        @TimeSpent,
        GETDATE()
    );

    SET @ResponseId = SCOPE_IDENTITY();

    -- Handle ordering questions with the new table type
    IF @IsOrdering = 1
    BEGIN
        INSERT INTO dbo.ExamResponseOrder (
            ResponseId, 
            UserOrder
        )
        SELECT 
            @ResponseId, 
            oi.ID
        FROM @OrderedItems oi
         
    END

    -- Handle pairing questions
    IF @QuestionTypeId = 3 AND @PairedItems IS NOT NULL
    BEGIN
        INSERT INTO dbo.ExamResponsePair (ResponseId, LeftText, RightText)
        SELECT @ResponseId, esp_left.LeftText, esp_right.RightText
        FROM STRING_SPLIT(@PairedItems, ',') s
        INNER JOIN dbo.ExamSessionQuestionPair esp_left 
            ON esp_left.LeftText = CAST(LEFT(s.item, CHARINDEX(':', s.item) - 1) as nvarchar(100))
        INNER JOIN dbo.ExamSessionQuestionPair esp_right 
            ON esp_right.RightText = CAST(SUBSTRING(s.item, CHARINDEX(':', s.item) + 1, LEN(s.item))as nvarchar(100))
        WHERE esp_left.SessionQuestionId = 226
          AND esp_right.SessionQuestionId = 226;
    END

    SELECT @ResponseId AS ResponseId;
END
GO
/****** Object:  StoredProcedure [dbo].[_sp_InsertSubject]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update sp_InsertSubject
CREATE PROC [dbo].[_sp_InsertSubject]
@SubjectId INT,				@Description NVARCHAR(200), @IsActive BIT, 
@SubjectName varchar(200),  @Image nvarchar(200), @Topics varchar(400),
@CreatedBy INT,				@CreatedDate DATETIME,  
@ModifiedBy INT,            @ModifiedDate DATETIME
AS
DECLARE @OutputTbl TABLE (ID INT)

IF ISNULL(@SubjectId,0) = 0
BEGIN
	INSERT INTO Subject 
	(SubjectName, Description, Image, CreatedBy,
	CreatedDate, ModifiedBy, ModifiedDate, IsActive)
	OUTPUT INSERTED.SubjectId INTO @OutputTbl(ID)
	VALUES (@SubjectName, @Description, @Image, @CreatedBy,
	@CreatedDate, @ModifiedBy, @ModifiedDate, 1)

	INSERT INTO SubjectTopic (SubjectId, TopicName, Description, Image, IsActive, IsDeleted)
	SELECT (SELECT ID FROM @OutputTbl), value, '', '', 1, 0 FROM STRING_SPLIT(@Topics, ',')
END
ELSE 
BEGIN
	UPDATE Subject SET
	SubjectName = @SubjectName, Description = @Description, Image = @Image,
	CreatedBy = @CreatedBy, CreatedDate = @CreatedDate, 
	ModifiedBy = @ModifiedBy, ModifiedDate = @ModifiedDate
	WHERE SubjectId = @SubjectId
	INSERT INTO @OutputTbl VALUES (@SubjectId)

	DELETE FROM SubjectTopic WHERE SubjectId = @SubjectId
	INSERT INTO SubjectTopic (SubjectId, TopicName, Description, Image, IsActive, IsDeleted)
	SELECT @SubjectId, value, '', '', 1, 0 FROM STRING_SPLIT(@Topics, ',')
END
SELECT ID FROM @OutputTbl 
GO
/****** Object:  StoredProcedure [dbo].[_sp_InsertUpdateInstitute]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[_sp_InsertUpdateInstitute]
(
    @InstituteId INT = NULL, -- If NULL => Insert, else Update
    @InstituteName NVARCHAR(200) = NULL,
    @ShortName VARCHAR(50) = NULL,
    @Logo VARCHAR(50) = NULL,
    @Address VARCHAR(500) = NULL,
    @City VARCHAR(50) = NULL,
    @StateId INT = NULL,
    @Pincode VARCHAR(6) = NULL,
    @Phone VARCHAR(12) = NULL,
    @Email NVARCHAR(256) = NULL,
    @PrimaryContact VARCHAR(10) = NULL,
    @SecondaryContact VARCHAR(10) = NULL,
    @ActivationDate DATETIME = NULL,
    @Validity DATETIME = NULL,
    @IsActive BIT = NULL,
    @CreatedBy INT = NULL,
    @ModifiedBy INT = NULL,
    @UserId INT = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    IF @InstituteId IS NULL OR @InstituteId = 0
    BEGIN
        -- INSERT
        INSERT INTO [dbo].[Institute]
        (
            [InstituteName],
            [ShortName],
            [Logo],
            [Address],
            [City],
            [StateId],
            [Pincode],
            [Phone],
            [Email],
            [PrimaryContact],
            [SecondaryContact],
            [ActivationDate],
            [Validity],
            [IsActive],
            [CreatedBy],
            [CreatedDate],
            [UserId]
        )
        VALUES
        (
            @InstituteName,
            @ShortName,
            @Logo,
            @Address,
            @City,
            @StateId,
            @Pincode,
            @Phone,
            @Email,
            @PrimaryContact,
            @SecondaryContact,
            @ActivationDate,
            @Validity,
            @IsActive,
            @CreatedBy,
            GETDATE(),
            @UserId
        );

        SET @InstituteId = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        -- UPDATE
        UPDATE [dbo].[Institute]
        SET [InstituteName]    = @InstituteName,
            [ShortName]        = @ShortName,
            [Logo]             = @Logo,
            [Address]          = @Address,
            [City]             = @City,
            [StateId]          = @StateId,
            [Pincode]          = @Pincode,
            [Phone]            = @Phone,
            [Email]            = @Email,
            [PrimaryContact]   = @PrimaryContact,
            [SecondaryContact] = @SecondaryContact,
            [ActivationDate]   = @ActivationDate,
            [Validity]         = @Validity,
            [IsActive]         = @IsActive,
            [ModifiedBy]       = @ModifiedBy,
            [ModifiedDate]     = GETDATE(),
            [UserId]  = @UserId
        WHERE [InstituteId] = @InstituteId;
    END

    -- Return InstituteId
    SELECT @InstituteId AS InstituteId;
END
GO
/****** Object:  StoredProcedure [dbo].[_sp_InsertUpdateStudent]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[_sp_InsertUpdateStudent]
(
    @StudentId INT = NULL,  -- If NULL or 0 => Insert, else Update
    @InstituteId INT,
    @StudentName VARCHAR(60) = NULL,
    @FatherName VARCHAR(60) = NULL,
    @DateOfBirth DATETIME = NULL,
    @Category VARCHAR(30) = NULL,
    @StateId INT = NULL,
    @Address VARCHAR(500) = NULL,
    @City VARCHAR(60) = NULL,
    @Pincode VARCHAR(6) = NULL,
    @Mobile VARCHAR(10) = NULL,
    @SecondaryContact VARCHAR(10) = NULL,
    @ParentContact VARCHAR(10) = NULL,
    @Email NVARCHAR(256) = NULL,
    @ActivationDate DATETIME = NULL,
    @Validity DATETIME = NULL,
    @IsActive BIT = NULL,
    @CreatedBy INT = NULL,
    @ModifiedBy INT = NULL,
    @UserId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF @StudentId IS NULL OR @StudentId = 0
    BEGIN
        -- INSERT
        INSERT INTO [dbo].[Student]
        (
            [InstituteId],
            [StudentName],
            [FatherName],
            [DateOfBirth],
            [Category],
            [StateId],
            [Address],
            [City],
            [Pincode],
            [Mobile],
            [SecondaryContact],
            [ParentContact],
            [Email],
            [ActivationDate],
            [Validity],
            [IsActive],
            [CreatedBy],
            [CreatedDate],
            [UserId]
        )
        VALUES
        (
            @InstituteId,
            @StudentName,
            @FatherName,
            @DateOfBirth,
            @Category,
            @StateId,
            @Address,
            @City,
            @Pincode,
            @Mobile,
            @SecondaryContact,
            @ParentContact,
            @Email,
            @ActivationDate,
            @Validity,
            @IsActive,
            @CreatedBy,
            GETDATE(),
            @UserId
        );

        SET @StudentId = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        -- UPDATE
        UPDATE [dbo].[Student]
        SET [InstituteId]      = @InstituteId,
            [StudentName]      = @StudentName,
            [FatherName]       = @FatherName,
            [DateOfBirth]      = @DateOfBirth,
            [Category]         = @Category,
            [StateId]          = @StateId,
            [Address]          = @Address,
            [City]             = @City,
            [Pincode]          = @Pincode,
            [Mobile]           = @Mobile,
            [SecondaryContact] = @SecondaryContact,
            [ParentContact]    = @ParentContact,
            [Email]            = @Email,
            [ActivationDate]   = @ActivationDate,
            [Validity]         = @Validity,
            [IsActive]         = @IsActive,
            [ModifiedBy]       = @ModifiedBy,
            [ModifiedDate]     = GETDATE(),
            [UserId]           = @UserId
        WHERE [StudentId] = @StudentId;
    END

    -- Return StudentId
    SELECT @StudentId AS StudentId;
END
GO
/****** Object:  StoredProcedure [dbo].[_sp_InsertUpdateStudentBatch]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[_sp_InsertUpdateStudentBatch]
(
    @StudentBatchId INT = NULL, -- if NULL => Insert, else Update
    @StudentId INT,
    @BatchId INT,
    @IsActive BIT = 1,
    @EnrollmentDate DATETIME = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    IF @EnrollmentDate IS NULL
        SET @EnrollmentDate = GETDATE();

    IF @StudentBatchId IS NULL OR @StudentBatchId = 0
    BEGIN
        INSERT INTO [dbo].[StudentBatch]
        (
            StudentId, BatchId, IsActive, EnrollmentDate
        )
        VALUES
        (
            @StudentId, @BatchId, @IsActive, @EnrollmentDate
        );

        SET @StudentBatchId = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        UPDATE [dbo].[StudentBatch]
        SET BatchId        = @BatchId,
            IsActive       = @IsActive,
            EnrollmentDate = @EnrollmentDate
        WHERE StudentBatchId = @StudentBatchId;
    END

    SELECT @StudentBatchId AS StudentBatchId;
END
GO
/****** Object:  StoredProcedure [dbo].[_sp_InsertUpdateStudentClass]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[_sp_InsertUpdateStudentClass]
(
    @StudentClassId INT = NULL, -- if NULL => Insert, else Update
    @StudentId INT,
    @ClassId INT,
    @IsActive BIT = 1,
    @EnrollmentDate DATETIME = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    IF @EnrollmentDate IS NULL
        SET @EnrollmentDate = GETDATE();

    IF @StudentClassId IS NULL OR @StudentClassId = 0
    BEGIN
        INSERT INTO [dbo].[StudentClass]
        (
            StudentId, ClassId, IsActive, EnrollmentDate
        )
        VALUES
        (
            @StudentId, @ClassId, @IsActive, @EnrollmentDate
        );

        SET @StudentClassId = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        UPDATE [dbo].[StudentClass]
        SET ClassId        = @ClassId,
            IsActive       = @IsActive,
            EnrollmentDate = @EnrollmentDate
        WHERE StudentClassId = @StudentClassId;
    END

    SELECT @StudentClassId AS StudentClassId;
END
GO
/****** Object:  StoredProcedure [dbo].[_sp_SubmitExamSession]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[_sp_SubmitExamSession]
    @UserExamSessionId BIGINT,
    @SubmitTime DATETIME,
    @TotalScore DECIMAL(10,2) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Total DECIMAL(10,2) = 0;

    --------------------------------------------------------------------
    -- ✅ Choice-based questions (same logic as before)
    --------------------------------------------------------------------
    ;WITH UserChoices AS (
        SELECT er.SessionQuestionId, er.SessionChoiceId
        FROM ExamResponse er
        WHERE er.UserExamSessionId = @UserExamSessionId
    ),
    CorrectChoices AS (
        SELECT sc.SessionQuestionId, sc.SessionChoiceId
        FROM ExamSessionChoice sc
		inner join ExamResponse er on sc.SessionQuestionId = er.SessionQuestionId
        WHERE sc.IsCorrect = 1 and 
		er.UserExamSessionId = @UserExamSessionId
    ),
    QTypeMap AS (   -- 🔹 renamed from QuestionType
        SELECT eq.SessionQuestionId, qt.TypeName, eq.Marks, eq.NegativeMarks, eq.ismultiselect
        FROM ExamSessionQuestion eq
        INNER JOIN QuestionType qt ON eq.QuestionTypeId = qt.QuestionTypeId
		inner join ExamResponse er on eq.SessionQuestionId = er.SessionQuestionId
		WHERE er.UserExamSessionId = @UserExamSessionId and typename = 'MCQ'
    ),
    Eval AS (
        SELECT uq.SessionQuestionId,
               qt.TypeName,
               qt.Marks,
               qt.NegativeMarks,
               CASE 
                   -- ✅ Single Choice: if user's one choice = correct choice
                   WHEN qt.TypeName = 'MCQ' and qt.ismultiselect = 0
                        AND EXISTS (
                            SELECT 1 
                            FROM UserChoices u
                            INNER JOIN CorrectChoices c 
                                ON u.SessionChoiceId = c.SessionChoiceId
                            WHERE u.SessionQuestionId = uq.SessionQuestionId
                        )
                        THEN 1
                   WHEN qt.TypeName = 'MCQ' and qt.ismultiselect = 0 THEN 0

                   -- ✅ Multiple Choice: compare sets (must match exactly)
                   WHEN qt.TypeName = 'MCQ' and qt.ismultiselect = 1
                        AND NOT EXISTS (
                            SELECT 1 
                            FROM (
                                SELECT SessionChoiceId FROM UserChoices 
                                WHERE SessionQuestionId = uq.SessionQuestionId
                                EXCEPT
                                SELECT SessionChoiceId FROM CorrectChoices 
                                WHERE SessionQuestionId = uq.SessionQuestionId
                            ) diff1
                        )
                        AND NOT EXISTS (
                            SELECT 1 
                            FROM (
                                SELECT SessionChoiceId FROM CorrectChoices 
                                WHERE SessionQuestionId = uq.SessionQuestionId
                                EXCEPT
                                SELECT SessionChoiceId FROM UserChoices 
                                WHERE SessionQuestionId = uq.SessionQuestionId
                            ) diff2
                        )
                        THEN 1
                   WHEN qt.TypeName = 'MultipleChoice' and qt.ismultiselect = 1 THEN 0
                   ELSE 0
               END AS IsCorrect
        FROM UserChoices uq
        INNER JOIN QTypeMap qt ON uq.SessionQuestionId = qt.SessionQuestionId
        GROUP BY uq.SessionQuestionId, qt.TypeName, qt.Marks, qt.NegativeMarks, qt.ismultiselect
    )
    SELECT @Total = @Total + SUM(
        CASE WHEN e.IsCorrect=1 THEN e.Marks ELSE -e.NegativeMarks END
    )
    FROM Eval e;
    --------------------------------------------------------------------
    -- ✅ Pairing questions (compare sets)
    --------------------------------------------------------------------
    ;WITH CorrectPairs AS (
        SELECT eq.SessionQuestionId, sp.LeftText, sp.RightText
        FROM ExamSessionQuestion eq
        INNER JOIN ExamSessionQuestionPair sp 
            ON eq.SessionQuestionId = sp.SessionQuestionId
		INNER JOIN QuestionType qt ON eq.QuestionTypeId = qt.QuestionTypeId
		inner join ExamResponse er on eq.SessionQuestionId = er.SessionQuestionId
		where TypeName = 'Matching' and er.UserExamSessionId = @UserExamSessionId
    ),
    UserPairs AS (
        SELECT er.SessionQuestionId, rp.LeftText, rp.RightText
        FROM ExamResponse er
        INNER JOIN ExamResponsePair rp 
            ON er.ResponseId = rp.ResponseId
        WHERE er.UserExamSessionId = @UserExamSessionId
    ),
    PairCheck AS (
        SELECT cp.SessionQuestionId,
               CASE WHEN NOT EXISTS (
                    SELECT 1 FROM CorrectPairs cp1
                    FULL OUTER JOIN UserPairs up1
                      ON cp1.SessionQuestionId = up1.SessionQuestionId
                     AND cp1.LeftText = up1.LeftText
                     AND cp1.RightText = up1.RightText
                    WHERE cp1.SessionQuestionId = cp.SessionQuestionId
                      AND (cp1.LeftText IS NULL OR up1.LeftText IS NULL)
               )
               THEN 1 ELSE 0 END AS IsCorrect
        FROM CorrectPairs cp
        GROUP BY cp.SessionQuestionId
    )
    SELECT @Total = @Total + SUM(CASE WHEN pc.IsCorrect=1 THEN eq.Marks ELSE -eq.NegativeMarks END)
    FROM PairCheck pc
    INNER JOIN ExamSessionQuestion eq 
        ON pc.SessionQuestionId = eq.SessionQuestionId;

        --------------------------------------------------------------------
    -- ✅ Ordering questions (strict ascending check using XML splitter)
    --------------------------------------------------------------------
    ;WITH ParsedOrder AS (
        SELECT 
            er.SessionQuestionId,
            TRY_CAST(x.n.value('.', 'INT') AS INT) AS Num,
            ROW_NUMBER() OVER (PARTITION BY er.SessionQuestionId ORDER BY (SELECT 1)) AS Pos
        FROM ExamResponse er 
		inner join ExamSessionQuestion q on er.SessionQuestionId = q.SessionQuestionId
		inner join QuestionType qt on q.QuestionTypeId = qt.QuestionTypeId and TypeName = 'Ordering'
        CROSS APPLY (
            SELECT CAST('<i>' + REPLACE(er.ResponseText, ',', '</i><i>') + '</i>' AS XML) AS xmlData
        ) d
        CROSS APPLY d.xmlData.nodes('/i') AS x(n)
        WHERE er.UserExamSessionId = @UserExamSessionId
    ),
    OrderCheck AS (
        SELECT 
            p.SessionQuestionId,
            CASE 
                -- ✅ correct if each number matches its sequence position (1,2,3,…)
                WHEN SUM(CASE WHEN p.Num = p.Pos THEN 0 ELSE 1 END) = 0 
                THEN 1 ELSE 0 
            END AS IsCorrect
        FROM ParsedOrder p
        GROUP BY p.SessionQuestionId
    )
    SELECT @Total = @Total + SUM(
        CASE WHEN oc.IsCorrect = 1 THEN eq.Marks ELSE -eq.NegativeMarks END
    )
    FROM OrderCheck oc
    INNER JOIN ExamSessionQuestion eq 
        ON oc.SessionQuestionId = eq.SessionQuestionId;



    --------------------------------------------------------------------
    -- ✅ Update UserExamSession
    --------------------------------------------------------------------
    UPDATE ues
    SET ues.Status = 'Submit',
        ues.SubmitTime = @SubmitTime,
        ues.TotalScore = @Total
    FROM UserExamSession ues
    WHERE ues.UserExamSessionId = @UserExamSessionId;

    SELECT @UserExamSessionId AS SubmittedSessionId, @Total AS FinalScore;
END
GO
/****** Object:  StoredProcedure [dbo].[_sp_UpdateUser]    Script Date: 16-09-2025 22:10:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[_sp_UpdateUser]
@UserId INT,
@UserName NVARCHAR(100),
@Email NVARCHAR(256),
@PasswordHash NVARCHAR(200),
@Role NVARCHAR(50),
@IsActive BIT
AS
	UPDATE Users SET
	UserName = @UserName,
	Email = @Email,
	PasswordHash = @PasswordHash,
	Role = @Role,
	IsActive = @IsActive,
	UpdatedDate = GETDATE()
	WHERE UserId = @UserId
GO
