<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/Dashboard">Dashboard</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Exam Selection</span>
        </li>
    </ul>
</div>

<h3 class="page-title">Select Exam</h3>

<div class="row">
    <div class="col-md-4">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-graduation font-blue"></i>
                    <span class="caption-subject font-blue bold uppercase">NEET</span>
                </div>
            </div>
            <div class="portlet-body">
                <p>National Eligibility cum Entrance Test for medical courses</p>
                <div class="margin-top-20">
                    <a href="/Exam/Details/1" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-graduation font-green"></i>
                    <span class="caption-subject font-green bold uppercase">JEE</span>
                </div>
            </div>
            <div class="portlet-body">
                <p>Joint Entrance Examination for engineering courses</p>
                <div class="margin-top-20">
                    <a href="/Exam/Details/2" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-graduation font-red"></i>
                    <span class="caption-subject font-red bold uppercase">IBPS PO</span>
                </div>
            </div>
            <div class="portlet-body">
                <p>Institute of Banking Personnel Selection - Probationary Officer</p>
                <div class="margin-top-20">
                    <a href="/Exam/Details/3" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>