<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ExamVaults | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="~/theme/plugins/Bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/theme/css/adminlte.css" />
</head>
<body class="login-page bg-body-secondary">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <a href="/" class="link-dark text-center link-offset-2 link-opacity-100 link-opacity-50-hover">
                    <h1 class="mb-0"><b>Exam</b>Vaults</h1>
                </a>
            </div>
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        @Html.ValidationSummary(false)
                    </div>
                }

                <form asp-controller="Auth" asp-action="Login" method="post">
                    <div class="input-group mb-3">
                        <div class="form-floating">
                            <input id="loginUsername" name="Username" type="text" class="form-control" placeholder="" required />
                            <label for="loginUsername">Username</label>
                        </div>
                        <div class="input-group-text">
                            <span class="bi bi-person"></span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-floating">
                            <input id="loginPassword" name="Password" type="password" class="form-control" placeholder="" required />
                            <label for="loginPassword">Password</label>
                        </div>
                        <div class="input-group-text">
                            <span class="bi bi-lock-fill"></span>
                        </div>
                    </div>
                    <input type="hidden" name="Role" value="Admin" />
                    <div class="row">
                        <div class="col-8 d-inline-flex align-items-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="rememberMe" />
                                <label class="form-check-label" for="rememberMe"> Remember Me </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Sign In</button>
                            </div>
                        </div>
                    </div>
                </form>

                <p class="mb-1 mt-3">
                    <a href="#">I forgot my password</a>
                </p>
            </div>
        </div>
    </div>

    <script src="~/theme/plugins/Bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/theme/js/adminlte.js"></script>
</body>
</html>
